@page "/games"
@layout AuthenticatedLayout
@namespace Components.Pages
@using se_24.Components.Layout

<PageTitle>Games</PageTitle>

<div class="outlined-box">
    <h3>Games</h3>
    <a href="/findergame">
        Find The Objects
    </a>
    <br />
    <a href="/reading/1">
        Reading game. Level: easy
    </a>
    <br />
    <a href="/reading/2">
        Reading game. Level: medium
    </a>
    <br />
    <a href="/reading/3">
        Reading game. Level: Hard
    </a>
    <br />
    <a href="/blockgame">
        Press the block
    </a>
</div>

