@page "/"

<PageTitle>Home</PageTitle>

<h2>Welcome!</h2>

<div style="border: solid;
            padding: 10px">
    <h3>Attention Games</h3>
    <a href="/findergame">
        Find The Objects
    </a>
    <br />
    <a href="/reading/1">
        Reading game. Level: easy
    </a>
    <br />
    <a href="/reading/2">
        Reading game. Level: medium
    </a>
</div>

<div style="border: solid;
            padding: 10px">
    <h3>Memory Games</h3>
    <a href="/blockgame">
        Press the block
    </a>
</div>

