@page "/reading"

<PageTitle>Reading Level Selection</PageTitle>

<div style="position:relative; padding: 10px; text-align: center;">
    <h3>Choose difficulty</h3>
    <div>
        <button onclick="location.href='/reading/1'" class="btn btn-dark">
    Easy
    </button>
        <button onclick="location.href='/reading/2'" class="btn btn-dark">
    Medium
    </button>
        <button onclick="location.href='/reading/3'" class="btn btn-dark">
    Hard
    </button>
    </div>
</div>

